{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1 style="text-align: center"> Créer ton compte</h1>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.code) }}
        {{ form_row(form.city) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit" class="btn btn-dark float-right">S'inscrire !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
