<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
        <div class="logo">
            <img src="/images/cirque.jpg" style="border-radius: 50%; width: 30%">
            <a class="navbar-brand" href="{{path('home')}}"><i class="fa fa-fw fa-home"></i>Wild Circus</a>
        </div>


        <div class="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('team') }}"> <i class="fa fa-users" aria-hidden="true"></i> L'équipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('event') }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Evenements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fa fa-fw fa-envelope"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('card_index') }}"><i class="fa fa-shopping-cart"></i> Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item mt-4    ">
                    <a class="nav-link" href="{{ path ('easyadmin') }}">Administration</a>
                </li>
                {% elseif app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profil') }}"><i class="fa fa-user"></i>  Compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-users"></i>  Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user"></i>  Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>